@import "bootstrap/dist/css/bootstrap.min.css";


.button {
    @apply inline-flex items-center px-4 py-2 bg-gray-100 disabled:bg-gray-100 disabled:text-gray-300 text-gray-800 border border-transparent rounded-md font-semibold text-sm tracking-normal transition ease-in-out duration-150 ring-gray-300;
}

.button.btn-sm {
    @apply leading-none px-1 py-0;
}


.button:hover {
    @apply bg-gray-200 disabled:bg-gray-100 disabled:text-gray-300;
}

.button:active, .button:focus {
    @apply bg-gray-300 ring disabled:bg-gray-100 disabled:text-gray-300;
}

.button.button-primary {
    @apply bg-indigo-500 text-white !important;
}

.button-primary:hover, .button.button-primary:active, .button.button-primary:focus {
    @apply bg-indigo-600 !important;
}

.button.button-primary:disabled {
    @apply bg-indigo-300 !important;
}


.button.button-success {
    @apply bg-green-500 text-white !important;
}

.button-success:hover, .button.button-success:active, .button.button-success:focus {
    @apply bg-green-600 !important;
}

.button.button-success:disabled {
    @apply bg-green-400 !important;
}


.button.button-danger {
    @apply bg-red-500 text-white !important;
}

.button-danger:hover, .button.button-danger:active, .button.button-danger:focus {
    @apply bg-red-600 !important;
}

.button.button-danger:disabled {
    @apply bg-red-200 !important;
}


.action-button {
    @apply inline-flex items-center px-1 py-0 text-gray-800 border border-transparent rounded;
    @apply bg-gray-100 !important;
}

.action-button:hover {
    @apply bg-gray-200 !important;
}

/* Carrossel com Vídeo */
.carousel-container {
    height: 300px; /* Altura do carrossel */
    position: relative;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Escurece o vídeo */
    z-index: 0;
}

@media (min-width: 960px) {
    .container{
        margin-top:150px;
    }
}